//Оставить в заготовке обязательно
@import 'fonts'; 

body {
    //background-color: black;
    span {
        color: red;
        font-family: DynaGroteskLM;
        font-weight: 700;
    }
    background: url("@img/bread.jpg") 0 0 no-repeat;
}
